body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

button {
  cursor: pointer;
  border: unset;
  outline: unset;
}

table {
  border-collapse: collapse;
}

table,
tr {
  width: 100%;
  min-width: 300px;
}

td {
  text-align: center;
}

.app-container {
  max-width: 430px;
  min-width: 300px;
  margin: auto;
}

.picker-container {
  height: 150px;
  max-width: 430px;
  min-width: 300px;
  margin-top: 16px;
}

.segments {
  width: 100%;
}

.segments button {
  width: 50%;
  background-color: unset;
  border: unset;
  position: relative;
  font-family: Georgia, serif;
  font-size: 1em;
  padding: 12px 8px;
}

.segments button:active {
  color: #488aff;
}

.segments button:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  border-bottom: 2px solid;
  transform: scaleX(0);
  transition: 0.8s ease-in-out;
}

.segments button.active:after {
  transform: scaleX(1);
}
