.calendar-header {
  width: 100%;
  height: 40px;
  margin: 16px 0 8px 0;
}

#active-month {
  font-size: 1.4em;
  float: left;
  padding-left: 16px;
}

button,
td {
  cursor: pointer;
  border: unset;
  outline: unset;
}

button[id$="ctrl"] {
  height: 26px;
  font-size: .8em;
  background-color: #fff;
  color: #7b7b7b;
  float: right;
}

button[id$="ctrl"]:hover:not(:disabled) {
  color: #488aff;
  border-color: #488aff !important;
}

button#previous-ctrl,
button#next-ctrl {
  width: 26px;
}

button[disabled] {
  color: #b7b7b7;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

.readonly {
  color: #b7b7b7;
}

.selectedDate {
  color: #488aff;
  font-weight: bold;
}