.calendar-header {
  width: 100%;
  height: 40px;
}

#active-month {
  font-size: 1.4em;
  float: left;
}

button,
td {
  cursor: pointer;
  border: unset;
  outline: unset;
}

button[id$="ctrl"] {
  height: 26px;
  font-size: .8em;
  background-color: #fff;
  color: #7b7b7b;
  float: right;
  text-align: center;
  padding: 0;
}

button[id$="ctrl"]:hover:not(:disabled),
td:hover:not(.readonly) {
  color: #488aff;
  border-color: #488aff !important;
}

button#today-ctrl {
  padding: 0 4px;
}

button#previous-ctrl {
  padding-right: 8px;
}

button#next-ctrl {
  padding-left: 8px;
}

button[disabled] {
  color: #b7b7b7;
}

table {
  width: 100%;
  table-layout: fixed
}

tr {
  height: 30px;
}

td {
  text-align: center;
}

td.selectedDate span {
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  margin: auto;
  background-color: #488aff;
  color: #fff;
}

th {
  text-transform: uppercase;
  font-weight: unset;
  font-size: .9em;
}

.readonly,
th {
  color: #b7b7b7;
}
